{% extends "layout.html" %}

{% block body %}

{% if 'query_update' in request.url %}

{% for uresult in uresults %}
<form name="hai" action="/update" method="post">
<table>
    <tr>
        <td>District</td>
        <td><input type="text" name="txt_district" id="" value="{{uresult.1}}"></td>
    </tr>
    <tr>
        <td colspan="2"><input type="submit" value="submit"></td>
    </tr>
    <input type="hidden" name="hiddendistrict_id" value='{{uresult.0}}'>
</table>
</form>
{% endfor %}


{% else %}
<form name="hai" action="/insert" method="post">
    <table>
        <tr>
            <td>District</td>
            <td><input type="text" name="txt_district" id=""></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="submit"></td>
        </tr>
    </table>
    </form>
{% endif %}
<h1>Select and display on table</h1>
<table>
    <tr>
        <td>Serial No</td>
        <td>District</td>
        <td>Delete</td>
        <td>Edit</td>
    </tr>
    {% for result in results %}
        <tr>   
            <td align="center">{{ loop.index }}</td>
            <td align="center">{{ result.1 }}</td>
            <td align="center"><a href = "{{ url_for('dataRemove', dprimary=result.0 ) }}">Delete</a></td>
            <td align="center"><a href = "{{ url_for('dataUpdate', uprimary=result.0 ) }}">Edit</a></td>
        </tr> 
    {% endfor %}
</table>

{% endblock %}